* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.04em;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, hsla(270, 100%, 36%, 1) 0%, hsla(250, 80%, 30%, 1) 50%, hsla(230, 70%, 25%, 1) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
