* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.04em;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: hsla(270 100%, 36%, 1);
}
