:root {
  --hue-offset: 0;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.04em;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    135deg,
    hsl(calc(270 + var(--hue-offset)), 100%, 36%) 0%,
    hsl(calc(250 + var(--hue-offset)), 80%, 30%) 50%,
    hsl(calc(230 + var(--hue-offset)), 70%, 25%) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
